body{
    margin: 0px;
}
.container {
    width: 100%;
    height: 100vh;
    background-color: #008000;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.plus {
    width: 100%;
    height: 100vh;
    background-color:  #008000;
}
/*
.price {
    width: 100%;
    height: 100vh;
    background-color: #00f7ff;
}

.download {
    width: 100%;
    height: 100vh;
    background-color: #ff00ea;
} */

/* nav */
nav{
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul{
    display: flex;
    font-size: 25px;
    list-style: none;
}
nav ul li{
    margin: 5px;
    justify-content: space-between;
}

a {
    text-decoration-line: none;
}

.logo {
    color: white;
}

.logo h2 {
    font-size: 50px;
    margin-bottom: 0px;
}
.logo h5 {
    margin-top: 5px;
}

.btn {
    background-color: black; /* Green */
    border: 2px solid black;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 300px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    background-color: #008000;
    border: 2px solid white;
}

.home-one {
    position: relative;
    max-width: 300px;
    font-size: 26px;
}

.boxone {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background-color: white;
}

.boxone .fa {
    color: rgb(255, 81, 0);
}

.boxone .sub-box {
    max-width: 200px;
    padding: 40px;
    flex-direction: column;
    align-items: center;
}

.boxtwo {
    margin-top: 20px;
    font-size: 18px;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxtwo p {
    font-size: 35px;
    line-height: 100px;
}

.circle {
    border-radius: 100%;
}
