.container {
    width: 100%;
    height: 100vh;
    background-color: #008000;
}

.plus {
    width: 100%;
    height: 100vh;
    background-color: #ff0000;
}

.price {
    width: 100%;
    height: 100vh;
    background-color: #00f7ff;
}

.download {
    width: 100%;
    height: 100vh;
    background-color: #ff00ea;
}